@reference "tailwindcss";

.header {
  @apply h-16 flex justify-between items-center px-2 bg-[var(--background)] border-b-2 border-b-gray-600;
}
.logo {
  @apply text-3xl font-bold;
}
.btnLink {
  @apply px-4 py-1 sm:text-2xl rounded-[5px] ml-1 hover:text-[var(--maincolor)];
}
.footer {
  @apply flex items-center justify-center h-20 bg-[var(--background)];
}
