@import "tailwindcss";
@import "@heroui/styles";
* {
  transition: all ease-in 0.3s;
}
:root {
  --background: #ffffff;
  --foreground: #242424;
  --card: #ececec;
  --maincolor: #0083a3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #242424;
    --foreground: #ededed;
    --card: #2b2b2b;
    --maincolor: #0083a3;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
